$primary-color: #0fb7a6;
$primary-color-light: #00e8d7;
$neutral: #fafafa;
$bg-dark-blue: #293e72;
$bg-darker: #0c1c44;

$input-background: #f7f7f7;
$input-border: #e6e6e6;
$input-placeholder: #ddd;

$register-form-subtitle-color: #A3ADC1;
$sidebar-color: #11264B;



